<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450606773494-6ila3dt3hcm3vp1s4pv2tk2ek97cvmvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450606773494-6ila3dt3hcm3vp1s4pv2tk2ek97cvmvu</string>
	<key>API_KEY</key>
	<string>AIzaSyDY2ePlz908ZWxskdkeThj3buarTl_uZh0</string>
	<key>GCM_SENDER_ID</key>
	<string>450606773494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parasborad.todofirebase</string>
	<key>PROJECT_ID</key>
	<string>todo-firev</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-firev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450606773494:ios:67dbc014d60d740705e8d7</string>
	<key>DATABASE_URL</key>
	<string>https://todo-firev.firebaseio.com</string>
</dict>
</plist>